{% extends "base/_base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-10 col-md-5">
            <div class="row justify-content-center align-items-center mb-3">
                <img class="w-25" src="{% static 'images/donkey.png' %}" alt="Telegram">
            </div>
            <div class="row justify-content-center align-items-center mb-3">
                <h4 class="text-light">DONE!!!</h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}